<h1>Inicio</h1>
<p>
  Ejemplos:
  <ul>
    <li><%=link_to "Dime hola", controller: :dime, action: :hola%></li>
    <li><%=link_to "Dime chao", controller: :dime, action: :chao%></li>
    <li><%=link_to "Formulario", action: :formulario%></li>
  </ul>
</p>
